<div class="container">
  Welcome Samer!

  <div class="card" >
    <header class="card-header">
      <p class="card-header-title">
        Upcomming appointments
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        None!
      </div>
    </div>
  </div>
  
  <br/><br/>

  <div class="card" >
    <header class="card-header">
      <p class="card-header-title">
        My Doctors
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        None!
      </div>
    </div>
  </div>
</div> 